@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
}
.h1{
  font-weight: 700;
  font-size: 60px;
  line-height:78px;
}
.h2{
  font-weight: 700;
  font-size: 30px;
  line-height:36px;
  text-transform: uppercase;
}
.h3{
  font-weight: 700;
  font-size: 24px;
  line-height:28px;
  text-transform: uppercase;
}
.h4{
  font-weight: 700;
  font-size: 20px;
  line-height:24px;
}
.desc-1{
  font-size: 40px;
  line-height: 40px;
}
.desc-2{
  font-size: 24px;
  line-height: 21px;
}
.desc-3{
  font-size: 18px;
  line-height: 21px;
}
.desc-4{
  font-size: 18px;
  line-height: 24px;
}
.button{
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  border: none;
  outline: none;
}
.button-big{
  font-size: 20px;
  line-height: 36px;
}
.button-bg-base,
.button-bg-base:active{
  background-color: #756157;
}
.button-bg-base:hover,
.button-bg-base:focus{
  background-color: #615048;
}
.button-bg-base:disabled,
.button-bg-active:disabled,
.button-bg-add:disabled{
  background-color: #E5E5E5;
}
.button-bg-active,
.button-bg-active:active{
  background-color: #7DB54F;
}
.button-bg-active:hover,
.button-bg-active:focus{
  background-color: #6C9E42;
}
.button-bg-transparent{
  background-color: transparent;
}
.button-bg-transparent:hover{
  background-color: #756157;
}
.button-bg-transparent:focus{
  background-color: transparent;
  border: 2px solid #83B3D3;

}
.button-bg-transparent:active{
  background-color: transparent;
  border: none;
}
.button-bg-transparent:disabled{
  background-color: transparent;
  color: rgba(255, 255, 255, 0.1);
}
.button-bg-add,
.button-bg-add:active{
  background-color: #83B3D3;
}
.button-bg-add:hover,
.button-bg-add:focus{
  background-color: #68A2CA;
}
.bg-add-1{
  background-color: rgba(130, 179, 211, 0.12);
}
.bg-add-2{
  background-color: rgba(130, 179, 211, 0.2);
}
.bg-base{
  background-color: #ffffff;
}
.navigation{
  display: flex;
  width: 600px;
}
.navigation-link {
  color: #000000;
  text-decoration: none;
}
.welcome{
  text-align: center;
  background-color: #9599b6;
  background-image: url('../images/backgrounds/welcome-sedona.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.advantages{
  text-align: center;
}
.advantages-item{
  color: #000000;
}
.benefits{
  text-align: center;
}
.box-main{
  color: white;
  background-color: #82B3D3;
}
.subscription{
  text-align: center;
}
.subscription-theme-custom{
  color:white;
  background-color: #2f6d96;
  background-image: url('../images/backgrounds/subscribe.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.search{
  text-align: center;
}
.footer-tel-link{
  color: #000000;
  font-style: normal;
  text-decoration: none;
}
.footer-tel-link:hover,
.footer-tel-link:focus{
  color:#756157;
}
.footer-tel-link:active{
  color:rgba(117, 97, 87, 0.3);
}

.catalog-intro{
  color: white;
  background-color: #2f6d96;
  background-image: url('../images/backgrounds/filters.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.breadcrumbs-link{
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: white;
}
.filter-label{
  font-size: 18px;
  line-height: 23px;
}
.input-value{
  font-weight: 700;
  color: #000000;
}
.catalog-cards-title{
  color: #000000;
}
.card-link{
  text-decoration: none;
}
.card-link .card-title{
  color: #000000;
  text-transform: none;
}
.card .button-bg-base{
  text-decoration: none;
}
.cart-rating{
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
}
.pagination-item a{
  color: white;
  text-decoration: none;

}
.pagination-item .pagination-current{
  color: #000000;
  background-color: #F2F2F2;
}
